body {
    background-color: #A67B7E;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 30px;
}

.container {

    height: 97vh;

    display: flex;
    flex-direction: column;
}

.title {

    margin: 10px;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    font-weight: 700;

    color: #591902;

    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -ms-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
}

.title:hover {
    color: #BF7417;
}

.bot {

    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.menu {

    margin: 10px;
    padding: 15px;

    width: 33%;

    display: flex;
    flex-direction: column;
}

.menu-item {
    margin: 10px;

    height: 7%;
    background-color: #D9AA52;

    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -ms-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    transition: background 0.1s linear;
    

}

.menu-item:hover {
    background-color: #A64657;
}

.content {

    margin: 10px;

    flex-grow: 3;
}

@media all and (max-width:500px) {

    .menu {

        width: 100%;

        align-items: center;
    }

    .menu-item {
        width: 60vw;

    }
}