
html {
	box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.view {
    
    /*set flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*size*/
    width: 96vw;
    height: 98vh;
}

.card1 {
    border: 3px solid red;

    /*box-model*/
    padding: 30px;

    /*size*/
    width: 90vw;
    height: 50vh;
}

.top {

    /*set flexbox*/
    display: flex;
    flex-flow: column;
}

#title1 {

    /*fonts*/
    font-weight: 700;
}

#par1 {

    /*fonts*/
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.bot {

    /*set flexbox*/
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.rating {

    /*set flexbox*/
    display: flex;
    flex-flow: row;
}

.card2 {
    border: 3px solid blue;

    /*size*/
    width: 95vw;
    height: 50vh;
}