.main {
    width: 1440px;
    height: 700px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid red;
}

.card {
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 3px solid blue;
}

.qr {
    padding: 15px;
    border: 3px solid green;
}

.title {
    display: flex;
    justify-content: center;
    border: 3px solid yellow;

    text-align: center;
}

.text {
    display: flex;
    justify-content: center;
    border: 3px solid purple;

    text-align: center;
}